@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
}

            /* Header */
header {
    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    ;
    display:flex; 
    justify-content: space-between;   
    width: 100%;
    position: fixed;
    z-index: 1;

}

             /* Navbar */
nav {
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    margin: 10px;
}


              /* Main */
main {

    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    display: flex;
    flex-direction: column;
   
}

               /* hero */

#hero {
    height: 400px;
    background: url("../images/Images/pexels-gabby-k.webp") no-repeat center center/cover;
    position: relative;
   
}

#cover-text {
    position: absolute;
    font-size: 150%;
    width: 80%;
    min-height: 200px;  
    padding-left: 70px;
    
}

            /* Imbedded music/meditation */
          
#spotify {
    width: 100%vw;
    display: flex;
    justify-content: space-evenly;
    margin-left :50px;
}            

              /* Cards */

.container {
    margin-left: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: flex;
   

    
}              

.depression {
   margin-bottom :20px;
   flex-direction: nowrap;
} 



h2 {
    color: #ffffff;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.card-title {
    color: #ffffff;
    font-size: 20px;
}
.card {
    color: #ffffff;
    font-size: 15px;
    border: black solid 1px;
}

.btn btn-light {
    color: #ffffff;

}

footer {
    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    height: 50px;

}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#social-media i {
    font-size: 100%;
    color: ffffff;
}

