@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
}

/* Header */
header {
    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    ;
    display: flex;
    justify-content: space-between;
    width: 100%;
   /* position: fixed;
    z-index: 1; */

}



/* Navbar */
nav {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


/* Main */
main {

    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    display: flex;
    flex-direction: column;

}

/* hero */

#hero {
    height: 400px;
    background: url("../images/Images/pexels-gabby-k.webp") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    position: absolute;
    font-size: 150%;
    width: 80%;
    min-height: 200px;
    padding-left: 70px;

}

/* Imbedded music/meditation/link to games */



#relaxation {
    margin-left: 20px;
    margin-top: 20px;
}

#spotify {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.game {
    height: 150px;
    margin-left: 80px;
    display: flex;
    align-self: center;
}

/* Cards */


h2 {
    color: #ffffff;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 20px;
    text-align: center;
}

h5 {
    text-align: center;
}

.depression {
    margin-left: 20px;
    margin-top: 20px;
}

.card-title {
    color: #ffffff;
    font-size: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mountain {
    height: 200px;
    width: 250px;
}

.lake {
    height: 200px;
    width: 250px;
}

.sunset {
    height: 200px;
    width: 250px;
}

/* footer */

footer {
    background-image: linear-gradient(to right top, #3f0acf, #0050d8, #005eaf, #006279, #006155, #006954, #027151, #17794b, #148f68, #10a586, #0fbca6, #18d3c7);
    height: 50px;
    padding-top: 30px;

}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 100%;
    color: #ffffff;
}

/* information.html */

.flex-container {
    display: flex;
    flex-wrap: wrap;

}

.illness {
    width: 50vw;
    margin-left: 150px;
}

h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 15px;
}

li {
    color: #ffffff;
    font-size: 15px;
}



/* media query: large or landscape phones (576px and up) */

@media screen and (min-width: 576px) {

    #spotify {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }


    .cards {
        display: flex;
        justify-content: space-around;
    }
}